.container {
  display: flex;
  gap: 40px;
  margin: 0 auto;
  width: 1000px;
}

.wrapper {
  width: 500px;
}

.nameMovie {
  margin-bottom: 45px;
  font-weight: 700;
  font-size: 36px;
  color: lightcoral;
}

.infoMovie {
  margin-bottom: 15px;
  font-size: 22px;
  font-weight: 500;
  color: lightcoral;

  span {
    font-size: 22px;
    font-weight: 500;
    color: gray;
  }
}
